@charset "UTF-8";
a {
  outline: none; }

.mobile-header,
.header {
  margin: 0 !important;
  padding: 1% !important; }

.mobile-header {
  color: #fff; }

.header a {
  color: black; }

* {
  margin: 0 !important;
  padding: 0 !important; }

.popup_img {
  position: absolute;
  margin: auto !important;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0; }

p {
  color: #000;
  margin: 2% !important; }

.imageDiv {
  text-align: center;
  background: #fff;
  max-width: 56%;
  margin-left: 22% !important;
  margin-right: 22% !important;
  padding-bottom: 0 !important; }

@media only screen and (max-width: 514px) {
  a.left {
    position: absolute;
    height: 100%;
    width: 50%;
    left: 3%;
    top: 0; }
  a.right img {
    position: absolute;
    top: 48%;
    margin-left: 40% !important;
    float: right; }
  a.left img {
    position: absolute;
    top: 48%;
    margin-left: -50% !important;
    float: left; }
  a.right {
    position: absolute;
    height: 100%;
    width: 50%;
    right: 3%;
    top: 0; }
  .imageDiv {
    display: none;
    margin-top: -30% !important; }
  .mobileText {
    display: block !important;
    text-align: center; }
  .mobileContent {
    display: block; } }

.btns {
  margin-top: 2.5% !important; }

.icon h6 {
  margin-top: 5% !important; }

.mobileContent {
  text-align: center;
  margin-top: 3.5% !important;
  position: relative;
  z-index: 1; }

.mobileContent img {
  width: 100vw;
  height: auto; }

.mobileContentNav {
  position: relative;
  z-index: 3;
  margin-bottom: -90% !important; }

.mobileContentNav .prevMobile {
  float: left; }

.mobileContentNav .nextMobile {
  float: right; }

.popup_img {
  margin-top: 1.5% !important; }

.popup {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: none;
  text-align: center; }

.popup_bg {
  background: black;
  opacity: 0.9;
  position: relative;
  z-index: 2;
  overflow: hidden;
  height: 100%;
  width: 100%; }

.popup_img {
  position: relative;
  margin: 0 auto;
  margin-top: 4% !important;
  z-index: 5;
  max-height: 85%;
  max-width: 85%;
  margin: 1% 0 0 0; }

.image {
  cursor: url(../img/zoom-in.png), pointer; }

.popup_bg p {
  text-align: center;
  color: #fff !important;
  margin-top: 50% !important; }

.popup_bg:first-child {
  position: absolute;
  background: #000; }

.arrowsContainer {
  display: table;
  width: 100%; }

.next {
  width: 300px;
  /*задаем ширину блока*/
  height: 100px;
  /*задаем высоту блока*/
  transform: translate(-50%, -50%);
  position: absolute;
  top: 61.5%;
  left: 95%;
  height: 100vh; }

.next img:hover {
  cursor: pointer; }

.next .ico {
  padding-top: 80% !important; }

.prev {
  width: 300px;
  /*задаем ширину блока*/
  height: 100px;
  /*задаем высоту блока*/
  transform: translate(-50%, -50%);
  position: absolute;
  top: 61.5%;
  left: 5%;
  height: 100vh; }

.prev a:hover {
  cursor: pointer; }

.prev .ico {
  padding-top: 80% !important; }

.cross {
  width: 150px;
  /*задаем ширину блока*/
  height: 50px;
  /*задаем высоту блока*/
  transform: translate(-50%, -50%);
  position: absolute;
  top: 10%;
  left: 95%; }

.cross:hover {
  cursor: pointer; }

.close {
  width: 300px;
  height: 30px;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 7%;
  left: 91%; }

#navbar {
  overflow: hidden; }

.sticky {
  position: fixed;
  top: 1;
  width: 30%;
  height: 30px; }

.image {
  max-width: 85%;
  height: auto;
  margin-top: 2% !important; }

.image:first-child {
  margin-top: 7% !important; }

.name {
  color: #000;
  margin-top: 4% !important; }

.descr {
  color: #000;
  text-align: left;
  margin-top: 10% !important;
  margin-bottom: 5% !important;
  margin-left: auto !important;
  margin-right: auto !important;
  width: 85%; }

.cross img {
  width: 15px; }

.close {
  margin-top: 10% !important; }
